.layout {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 2rem 1rem 3rem 1rem;
  transition:
    background-color,
    box-shadow 0.3s ease-out allow-discrete;
  overflow: hidden;
}

.filled {
  composes: layout;
  background: var(--md-ref-palette-neutral90);
}
