.centerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  composes: centerContent;
  padding: 5rem 0.5rem 3rem 0.5rem;
  min-height: 100vh;
}

.content {
  composes: centerContent;
  max-width: var(--max-width);
  width: calc(100vw - 1rem);
  @media (min-width: 768px) {
    width: auto;
  }
}
